/BetService/src/main/resources/application-PROM.yml
/TelegramBot/src/main/resources/application-PROM.yaml
/TelegramBot/src/main/resources/application-PROM.yml
/TelegramBot/src/main/resources/application-TEST.yml
/TelegramBot/src/main/resources/application.yml
